<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            display: flex;
            justify-content: space-evenly;
            width: 1000px;
        }
        .boxes {
            width: 150px;
            height: 150px;
            border: solid black;
        }
    </style>
    <title>Playground Assignment</title>
</head>
<body>
    <div class="container">
        {% for i in range(0,num) %}
        <div class="boxes" style="background-color: {{color}};">
        </div>
        {% endfor %}
    </div>
</body>
</html>